{
  "extends": [
    "react-app",
    "airbnb"
  ],
  "rules": {
    "jsx-quotes": [
      1,
      "prefer-double"
    ],
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx"] }
    ],
    "semi": [
      0,
      "always"
    ]
  }
}